<!DOCTYPE html>
<html>
    <head>
        <%- include ("./part/header") %>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper brown lighten-5">
                <a href="" class="brand-logo"><i class="material-icons">filter_drama</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">월계획</a></li>
                <li><a href="/month-check">월증감</a></li>
                <li><a href="">자산현황</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="card pink lighten-5">
                <div class="card-action">
                    <a href="#" class="pink-text text-darken-4">고정지출</a>
                </div>
                <div class="card-content">
                    <table>
                        <colgroup>
                            <col style="width: 60%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="truncate">보험(하나)</td>
                                <td>70000</td>
                            </tr>
                            <tr>
                                <td class="truncate">폰비</td>
                                <td>15000</td>
                            </tr>
                            <tr>
                                <td class="truncate">생수</td>
                                <td>20000</td>
                            </tr>
                            <tr>
                                <td class="truncate">교통비</td>
                                <td>35000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="summary">
                    <span><i class="material-icons">add</i></span>
                    <span class="right amt">153000</span>
                </div>
            </div>

            <div class="card green lighten-5">
                <div class="card-action">
                    <a href="#" class="green-text text-darken-4">적금</a>
                </div>
                <div class="card-content">
                    <table>
                        <colgroup>
                            <col style="width: 60%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="truncate">주택청약</td>
                                <td>10000</td>
                            </tr>
                            <tr>
                                <td class="truncate">여행</td>
                                <td>15000</td>
                            </tr>
                            <tr>
                                <td class="truncate">생수</td>
                                <td>20000</td>
                            </tr>
                            <tr>
                                <td class="truncate">교통비</td>
                                <td>35000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="summary">
                    <span><i class="material-icons">add</i></span>
                    <span class="right amt">153000</span>
                </div>
            </div>

            <div class="big-card card grey lighten-5" style="width:300px;">
                <div class="card-action">
                    <a href="#" class="grey-text text-darken-4">변동사항</a>
                </div>
                <div class="card-content">
                    <ul class="collapsible expandable">
                        <li>
                            <div class="collapsible-header row">
                                <span class="col s5">20.02.01 ~ 20.03.01</span><span class="col s7 truncate">주택하나카드</span>
                            </div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header row">
                                <span class="col s5">20.02.01 ~ 20.03.01</span><span class="col s7 truncate">주택하나카드</span>
                            </div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header row">
                                <span class="col s5">20.02.01 ~ 20.03.01</span><span class="col s7 truncate">주택하나카드</span>
                            </div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </body>
</html>