
.container{
    width:90%;
    padding-top:15px;
}
nav{
    box-shadow:unset;
}
nav a{
    color: #4e342e !important;
}
nav .brand-logo {
    padding-left: 15px;
}

.card{
    width:200px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.card .card-action{
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
.card .card-content {
    padding: 10px;
}
.card .card-content p{
    width:100%;
}
.big-card{
    width:300px !important;
}
.big-card .row{
    margin:0px !important;
}
tr{
    border:unset;
}
td{
    padding:5px;
}
.amt{
    color:#b71c1c;
    font-weight: 600;
}
.summary{
    padding: 15px;
    border-top: rgba(0,0,0,0.14) 1px solid;
}
.collapsible-header{
    padding:10px;
}
.collapsible-body{
    padding:15px;
}